



.mainButton button {
    width: 100%;
    height: 30px;
    background-color: #492F7E;
    color: white;
    border: none;
    transition-duration: 0.4s;
    outline: none;
}

.small {
    width: 15%;
}

.mainButton button:hover {
    background-color: #69BA85;
    color: #050000;
}

.mainButton button:active {
    box-shadow: inset 0px 1px 10px 2px #492F7E;
    color: white;
}

