.editableSpan {
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-size: 1.5em;
    font-weight: bold;
    height: 30px;
    width: 90%;
    letter-spacing: 3pt;
    justify-self: center;
    text-align: center;
    display: grid;
    justify-content: stretch;
    align-items: center;
    background-color: #e2fded;
    cursor: pointer;
    transition: all ease-in 200ms;

}

.editableSpan input {
    background-color: white;
    width: 100%;
    letter-spacing: 2pt;
    justify-self: center;
    text-align: center;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    color: black;
    outline: none;


}

.editableSpan :hover {
    background-color: white;
    transition: all ease-in 600ms;
}

.editableSpan input:active:focus {
    background-color: white;
    inline-size: 0;
    outline: none;


}