.profilePost {

    padding: 10px 30px 40px 10px;
    display: grid;
    grid-template-columns: 60px 1fr;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 10px;
    border-color: #492F7E;
    background-color: #d7f8e2;
}
.avatarAndLikes{
    text-align: center;
    justify-self: right;
    padding: 10px  0 0 10px;

}




.avatarAndLikes img {
    margin-top: 5px;
    width: 50px;
    height: auto;
    border-radius: 50%;
}


.message {
    margin: 10px  50px;
}