.message {
    min-height: 80px;
    height: max-content;
    display: grid;
    grid-template-areas: "mF a";
    grid-auto-columns: minmax(auto, 465px) auto;
    position: relative;
    margin-left: auto;
    max-width: 500px;
   }


.avatar {
    text-align: center;
    grid-area: a;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    justify-self: start;
    align-self: end;
    border-radius: 50%;
    background-color: #150b22;
}

.avatar img {
    border-radius: 50%;
    width: 31px;
    height: 31px;
}

.messageFrame {
    cursor: pointer;
    grid-area: mF;
    display: grid;
    grid-template-columns: 1fr 20px;
}

.cornet {
    align-self: end;
    border: 20px solid transparent;
    border-left: 20px solid #150b22;
    border-bottom: 20px solid #150b22;
    width: 20px;
    height: 20px;
    position: relative;
    right: 40px;
}

.textMessage {
    text-align: start;
    margin-bottom: 10px;
}

.textFrame {
    padding: 5px 30px 5px 30px;
    background-color: #150b22;
    color: white;
    border-radius: 15px 15px 0px 15px;
}

.name {
    color: #cb8dec;
    margin: 10px 0 10px 10px;
}

.time {
    text-align: end;
    font-size: 0.8em;
    color: #a074b9;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
}

.time span:first-child {
    font-size: 0.9em;
    opacity: 80%;
    margin-right:20px ;
}

.bin {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: -55px;

}

.bin img {
    width: 40px;
    height: 40px;
}

.activeBin {
    display: block;
    cursor: pointer;
}

.viewed {
    z-index: 1;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10px;
    top: 13px;
}

.viewed  img{
    width: 20px;
    height: 20px;
}

/*friendzone*/

.messageFriend {
    min-height: 80px;
    height: max-content;
    display: grid;
    grid-template-areas: "a mF";
    grid-auto-columns: auto minmax(auto, 465px);
    max-width: 500px;
    position: relative;

}

.avatarFriend {
    text-align: center;
    grid-area: a;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    justify-self: end;
    align-self: end;
    border-radius: 50%;
    background-color: #150b22;
}


.avatarFriend img {
    border-radius: 50%;
    width: 31px;
    height: 31px;

}


.messageFrameFriend {
    cursor: pointer;
    grid-area: mF;
    display: grid;
    grid-template-columns: 20px 1fr;
    width: 400px;

}

.cornetFriend {
    align-self: end;
    border: 20px solid transparent;
    border-right: 20px solid #4c3966;
    border-bottom: 20px solid #4C3966;
    width: 20px;
    height: 20px;

}

.textFrameFriend {
    padding: 5px 30px 5px 30px;
    background-color: #4C3966;
    color: white;
    border-radius: 15px 15px 15px 0px;
}

.textMessageFriend {
    text-align: end;
    margin-bottom: 5px;

}

.nameFriend {
    color: #c5ade5;
    margin:5px 0 10px 10px;
}

.timeFriend {
    font-size: 0.8em;
    text-align: end;
    color: #ac9ec0;
}

.timeFriend span:first-child {
    font-size: 0.9em;
    opacity: 80%;
    margin-right:20px ;
}

.imgFriend img {
    width: 25px;
    height: 25px;
    margin-bottom: 6px;
}

.subMenuFriend {
    display: none;
    width: 35px;
    height: 70px;
    position: absolute;
    bottom: 50px;
    left: 0;
}

.activeSubMenuFriend {
    display: block;
    cursor: pointer;
}