.chatWrapper {
    width: 20px;
    height: max-content;
    bottom: 50px;
    right: 20px;
    position: fixed;
    z-index: 2;
    color: white;
    transition-duration: 1s;
}

.active {
    width: 275px;
    max-height: 550px;
    bottom: 50px;
    right: 20px;
    transition-duration: 1s;
}

.title {
    height: max-content;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #9970ee;
    margin-bottom: 5px;
    border-radius: 10px;

}

.activeTitle {
    border-radius: 10px 10px 0 0 ;

}


.chat {
    display: none;
}
.activeChat {
    row-gap: 5px;
    display:grid;
}

.chat {
    background-color: #bda3f1;
    border-radius: 10px;

}

.messages {
    display: grid;
    max-height: 400px;
    overflow-y: auto;
    row-gap: 15px;
    margin-bottom: 20px;
}

.description {
    display: flex;
    height: 35px;
    column-gap: 10px;
    justify-content: flex-start;
    align-items: center;
    background-color: #aa8aea;
    padding: 0 10px;

}


.description img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.body {
padding: 0 5px;
}