.friendListFromDialogs {
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(30px,50px));
    row-gap: 20px;
    background-color: #cfeed9;
    margin-left: 25px;
    margin-right: 20px;
    padding: 50px 10px;
}
.item {
    height: min-content;
    background-color: #4C3966;
    padding: 7px;
    border-radius: 10%;
    color: white;
}
.active {
    background-color: #2c1c4e;
}