.profileHeader {
    grid-column-start: 1;
    grid-column-end: 3 ;
    display: grid;
    background-image: url("/src/images/logo193.png");
    width: 1fr;
}

.selfPhotoFromProfile {
    position: relative;
    top: 20px;
    width: 125px;
    height: 125px;
    align-self: end;
    margin-left: 125px;
    border: 10px solid white;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background-color: white;
}


.selfPhotoFromProfile img {
    z-index: 5;
    border-radius: 10px 10px 0 0;
    width: 125px;
    height: auto;


}

.selfText {
    grid-column-start: 3;
    display: grid;
    row-gap: 5px;
    margin-top: 40px;
    padding: 10px 0 10px 10px;
    font-size: 1.1em;
    height: auto;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 10px;
    border-color: #492F7E;
    background-color: #d7f8e2;
}

.profileInfo {
    grid-column-start: 2;
    margin-bottom: 15px;
}

.fullName{
    text-align: end;
    margin: 10px 50px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-transform:capitalize;

}
.image img {
    width:100px;
    height:100px;

}
input[type="file"] {
    display: none;
}

.changeAvatarInput{
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    top: 32px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.active:before{
    content: '';
    background-color: #000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



