.currentDialog {
    display: grid;
    gap: 25px;
    align-content: space-evenly;
    background-color: #cfeed9;
    padding: 50px 20px;
}


.myMessage {
    margin-right: 60%;
    display: grid;
    grid-auto-columns: 50px minmax(auto, 400px);
    padding: 5px 30px 5px 30px;
    background-color: #6f589f;
    color: white;
    border-radius: 15px 15px 15px 0px;



}

.myAvatar {
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    justify-self: end;
    align-self: end;
    border-radius: 50%;
    background-color: #150b22;
}

.myAvatar img {

    border-radius: 50%;
    width: 31px;
    height: 31px;

}

.notMyMessage {
    margin-left: 60%;
    padding: 5px 30px 5px 5px;
    background-color: #2c1c4e;
    color: white;
    border-radius: 15px 15px 0px 15px;
    min-height: 80px;
    height: max-content;
    display: grid;
    grid-auto-columns: minmax(auto, 400px) 80px;


}

.notMyAvatar {
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    justify-self: start;
    align-self: end;
    border-radius: 50%;
    background-color: #150b22;

}

.notMyAvatar img {

    border-radius: 50%;
    width: 31px;
    height: 31px;

}
.end {
    display: none;
}