.loginWrapper{
    display: grid;
    width: 30vw;
    grid-template-rows: 70px 1fr;
    margin:  0 auto 0 0;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    row-gap: 30px;

}
.loginH1 {
    text-transform: uppercase;
    height: max-content;

}
.modal {
    min-width: 200px;
    width: max-content;
    position: absolute;
    right: 10px;
    justify-self: right;
    height: 30px;
    padding: 10px;
    background-color: #851959;
    color: white;
    border-radius: 2px;
    display: none;
    transition: all ease-in 0.4s;
}
.active {
    display: block;
    transition: all ease-in 2s;
}


