
.profileContent {
    margin-left: 5px;
    width: 60vw;
    display: grid;
    grid-template-columns:120px  7fr 1fr;
    grid-template-rows: 200px minmax(70px, auto) 1fr;
}

.profileHeader {
    grid-column-start: 1;
    grid-column-end: 3 ;
    display: grid;
    background-image: url("/src/images/logo193.png");
    width: 1fr;


}

.selfPhotoFromProfile {
    position: relative;
    top: 20px;
    width: 125px;
    height: 125px;
    align-self: end;
    margin-left: 125px;
    border: 10px solid white;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background-color: white;
}


.selfPhotoFromProfile img {
    border-radius: 10px 10px 0 0;
    width: 125px;
    height: auto;


}

.selfText {
    grid-column-start: 3;
    display: grid;
    row-gap: 5px;
    margin-top: 40px;
    padding: 10px 0 10px 10px;
    font-size: 1.1em;
    height: auto;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 10px;
    border-color: #492F7E;
    background-color: #d7f8e2;
}

.profileInfo {
    grid-column-start: 2;
    margin-bottom: 15px;
}

.fullName{
    text-align: end;
    margin: 10px 50px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-transform:capitalize;

}
.image img {
    width:100px;
    height:100px;

}

@media (max-width: 900px) {
    .profileContent {

        grid-template-columns:20px  10fr 1fr;
        grid-template-rows: 200px minmax(70px, auto) 1fr;
    }


}
@media (max-width: 600px) {
    .profileContent {
        grid-template-columns:20px  20fr 1fr;
        grid-template-rows: 200px minmax(70px, auto) 1fr;
    }


}
