
.profileContent {
    margin-left: 5px;
    width: 60vw;
    display: grid;
    grid-template-columns:120px  7fr 1fr;
    grid-template-rows: 200px minmax(70px, auto) 1fr;
}



@media (max-width: 900px) {
    .profileContent {

        grid-template-columns:20px  10fr 1fr;
        grid-template-rows: 200px minmax(70px, auto) 1fr;
    }


}
@media (max-width: 600px) {
    .profileContent {
        grid-template-columns:20px  20fr 1fr;
        grid-template-rows: 200px minmax(70px, auto) 1fr;
    }


}
