.textArea {
    border-radius: 10px 10px 0px 0px ;
    border: 2px solid #492F7E;
    outline-color: #492F7E;
    resize: none;
}


.sendMessageAreaFromCurrentDialog {
    align-self: end;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    height: 80px;
    min-height: 60px;
    outline-color: #492F7E;
    resize: none;


}


