.smallInfo {
    position: relative;
    left: 50px;
    width: 150px;
    background-color: #492F7E;
    border: 10px solid white;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    margin-bottom: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.smallInfo img {

    width: 50px;
    height: max-content;
}

@media (max-width: 1400px) {
    .smallInfo {
        left: 30px;
        width: 120px;
    }

}

@media (max-width: 1111px) {
    .smallInfo {
        width: 100px;
        left: 0px;
        border: 0;
    }

}