.smallInfo {
    position: relative;
    left: 50px;
    width: 150px;
    background-color: #492F7E;
    border: 10px solid white;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    margin-bottom: 100px;
    text-align: center;

}

.smallInfo img {
    width: 50px;
    height: auto;
}