.smallInfo {
    background-color: #492F7E;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 100px;
    padding-top: 50px;
    text-align: center;

}
.smallInfo img{
    width: 50px;
    height: auto;
}