
.button button {
    height: 30px;
    width: 100%;
    background-color: #492F7E;
    color: white;
    border: none;
    transition-duration: 0.4s;
    outline: none;
}

.button button:hover {
    background-color: #69BA85;
    color: white;
}

.button button:active {
    box-shadow: inset 0px 1px 10px 2px #492F7E;
    color: white;
}