.loginForm{
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    height: max-content;


}
.loginForm span{
    height: 0;
    font-size: 0.7em;
    bottom:30px;
    left: 5px;
    position: relative;
    top: -100%;

}
.loginForm input[type=checkbox]  {

    display: flex;
    flex: content-box;
    margin-top: 20px;
    width: 20px;
    height: 20px;



}
.button button {
    height: 30px;
    width: 100%;
    background-color: #492F7E;
    color: white;
    border: none;
    transition-duration: 0.4s;
    outline: none;
}

.button button:hover {
    background-color: #69BA85;
    color: white;
}

.button button:active {
    box-shadow: inset 0px 1px 10px 2px #492F7E;
    color: white;
}
.error {

    background-color:  #d990a5;
}