.message {
    min-height: 80px;
    height: max-content;
    display: grid;
    grid-template-areas: "a mF";
    grid-auto-columns: auto minmax(auto, 400px);
    min-width: 100px;
    max-width: 300px;


}

.avatar {
    text-align: center;
    grid-area: a;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    justify-self: end;
    align-self: end;
    border-radius: 50%;
    background-color: #150b22;
}


.avatar img {

    border-radius: 50%;
    width: 31px;
    height: 31px;

}

.messageFrame {
    grid-area: mF;
    display: grid;
    grid-template-columns: 20px 1fr;


}

.cornet {
    align-self: end;
    border: 20px solid transparent;
    border-right: 20px solid #4c3966;
    border-bottom: 20px solid #4C3966;
    width: 20px;
    height: 20px;

}

.textMessage {
    text-align: end;
    padding: 20px 30px 20px 30px;

}

.textFrame {
    padding: 5px 30px 5px 30px;
    background-color: #4C3966;
    color: white;
    border-radius: 15px 15px 15px 0px;

}

.name {
    color: #c5ade5;
}

.time {
    text-align: end;
    color: #847894;

}