.wrapperHeader {
    width: 100vw;
    z-index: 1;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    color: white;
    background-color: #492F7E;


}
.headerString{
    padding-top: 10px;
    height: min-content;
    align-self: start;
}
.circle{
    margin-left: 30px;
    display: grid;
    width: 80px;
    height:80px;
    background-color: #492F7E;
    border-radius: 50%;
}
.circle img{
    align-self: center;
    justify-self: center;
    width: auto;
    height: 70px;
}
.loginBlock {
    align-self: start;
    justify-self: start;
    padding-top: 10px;
}
.loginSpan {
    background-color: #6f589f;
    text-transform: uppercase;
    padding: 2px 15px;
    cursor: pointer;
}