.mainWrapper {
    text-align: start;
    display: grid;
    grid-template-columns: 200px minmax(max-content,2fr);
    margin: 10px auto 10px auto;
}

@media (max-width: 1400px) {
    .mainWrapper {
        display: grid;
        grid-template-columns: 150px minmax(max-content,2fr);
    }

}


@media (max-width: 1111px) {
.mainWrapper {
    display: grid;
    grid-template-columns: 100px minmax(max-content,2fr);
}

}
