.mainWrapper {
    text-align: start;
    display: grid;
    width: 70vw;
    grid-template-columns: 200px 1fr;
    margin: 10px auto 10px auto;
}

@media (max-width: 1400px) {
    .mainWrapper {
        display: grid;
        width: 70vw;
        grid-template-columns: 150px 1fr;
    }

}


@media (max-width: 1111px) {
.mainWrapper {
    display: grid;
    width: 70vw;
    grid-template-columns: 100px 1fr;
}

}
