.navigationBar {
    display: grid;
    background-color: #69BA85;
    grid-template-columns: 150px;
    grid-template-rows: 200px 200px auto;
    color: white;
    justify-items: start;
    padding-left: 5px;

}

.NavElements {
    display: grid;
    height: 150px;
    margin-bottom: 5px;
    gap: 10px;
    font-size: 1.2em;
}

.activeFriends {
    text-align: center;
    display: grid;
    grid-template-columns: 60px 60px;
    align-items: center;
    justify-items: center;
    padding: 5px;
    width: 130px;
    height: 240px;
    border-radius: 10px;
    margin-top: 20px;
    align-self: start;
    background-color: #492F7E;
}


.backGroundBlock {
    background-color: white;
    border-radius: 50%;
    display: grid;
    width: 50px;
    height: 50px;
}

.iconBlock {

    width: 55px;
    height: 65px;

}

.iconBlock img {
    align-self: center;
    justify-self: center;
    width: 45px;
    height: auto;
    border-radius: 50%;

}

.iconBlock span {
    font-size: 0.7em;
}

a {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: #defae6;

}

a:hover {
    background-color: #a6e2b8;
    transition-duration: 0.7s;
}

a:focus {

    background-color: #492F7E;
    transition-duration: 0.7s;
}

a:visited {
    color: #fcfdfd;

}

a:active {

    background-color: #549d6a;
    transition-duration: 0.7s;
}


