.navigationBar {
    display: grid;
    background-color: #69BA85;
    grid-template-columns: 200px;
    grid-template-rows: 200px 200px auto;
    color: white;
    justify-items: start;

}

.NavElements {
    display: grid;
    height: 150px;
    margin-left: 12px;
    margin-bottom: 5px;
    gap: 10px;
    font-size: 1.2em;
}

.activeFriends {
    padding: 10px 15px;
    justify-self: center;
    text-align: center;
    justify-content:space-evenly;
    display: grid;
    column-gap: 18px;
    grid-template-columns: 60px 60px;
    align-items: center;
    justify-items: center;
    width:150px;
    height: 240px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #492F7E;
}


.backGroundBlock {
    background-color: white;
    border-radius: 50%;
    display: grid;
    width: 60px;
    height: 60px;
}



.iconBlock img {
    align-self: center;
    justify-self: center;
    width: 55px;
    height: auto;
    border-radius: 50%;

}

.iconBlock span {
    font-size: 0.7em;
}

a {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: #defae6;

}

a:hover {
    background-color: #a6e2b8;
    transition-duration: 0.7s;
}

a:focus {

    background-color: #492F7E;
    transition-duration: 0.7s;
}

a:visited {
    color: #fcfdfd;

}

a:active {

    background-color: #549d6a;
    transition-duration: 0.7s;
}


