.article {
    display: grid;
    grid-template-columns:1fr;
    height: max-content;
    grid-template-rows: 300px 1fr max-content;
    width: 55vw;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 10px;
    border-color: #492F7E;
    background-color: #d7f8e2;
row-gap: 30px;
    justify-content: center;
    align-items: center;

}

.img {
    width: 90%;
    height: 280px;

    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;

}


.title {
    margin: 0 20%;
    align-self: center;
    justify-self: center;
    font-family: sans-serif;
    font-weight: normal;
    z-index: 1;
}

.text {
    margin: 0 10%;
    align-self: center;
    justify-self: center;
    z-index: 1;
}


