/*
* {
    box-sizing: border-box;}
*/

.App {
    font-family: sans-serif;
    text-align: center;
    text-justify: auto;
    height: 100vh;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 30px;
}