
.textArea textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    border-radius: 10px 10px 0px 0px ;
    border: 2px solid #492F7E;
    outline-color: #492F7E;
    resize: none;
    padding-left: 5px;
}
.error textarea {
    background-color: #80cb99;
    animation: blinker 2s linear infinite;
    color: #d7f8e2;
}
.error input {
    background-color: #dc9bc5;
    animation: blinker 2s linear infinite;
    color: #b16797;
}
.textArea input[type=checkbox] {
    display: inline-block;
}

.span{
}

@keyframes blinker {
    50% {
        opacity: 0.4;
    }
}

