.formFrame {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 10px;

}

.formFrame textarea[type=text] {
    width: 500px;
    border-radius: inherit;
    border: 1px;

}

.formFrame input[type=text] {
    width: 500px;
    border-radius: inherit;
    border: 1px;

}

.checkbox {
    display: grid;
    width: 500px;
    grid-template-columns: 30px max-content;
    justify-content: space-between;
    align-items: center;
}

.checkbox span {
    font-size: 1em;
}

.checkbox input[type=checkbox] {
    width: 25px;
    height: 25px;


}

.contactItem {
    display: grid;
    grid-template-columns: 100px auto;
}

.error {
    background-color: #b16797;
    position: relative;
    right: 40px;
}
